{% extends "html/index.html" %}
{% load static %}

{% block main_content %}
<div class="row mt-2">
    <div class="col">
        <h2 class="text-primary">Competencies</h2>
    </div>
</div>
<div class="row">
    <div class="col-xl-4">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="bg-primary text-white" style="font-size: .65rem;">
                    <tr>
                        <th scope="col" style="width:30%;">#</th>
                        <th scope="col" style="width:50%;">NAME</th>
                    </tr>
                </thead>
                <tbody id="body_of_competence_type" style="font-size: .875rem; color:#525f7f; word-break: break-all;">
                    {% include 'html/user/partial_table_competencies_type_user.html' %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-xl-8" id="competenceBody" hidden="True">
        <input type="text" class="form-control mt-2 mb-2" id="searchCompetence" data-id="" placeholder="Search Competence">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="bg-primary text-white" style="font-size: .65rem;">
                    <tr>
                        <th scope="col" style="width:10%;">#HOEGEN ID</th>
                        <th scope="col" style="width:20%;">NAME</th>
                        <th scope="col" style="width:20%; ">TYPE</th>
                        <th scope="col" style="width:30%;">DESCRIPTION</th>
                        <th scope="col" style="width:30%;">SCORE/MINIMUM REQUIRED</th>
                    </tr>
                </thead>
                <tbody id="body_of_competence" style="font-size: .875rem; color:#525f7f; word-break: break-all;">
                    {% include 'html/user/partial_table_competencies_user.html' %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock main_content %}
{% block scripts %}
<script>
    $(document).on('click','.selectType',function(){
        name = $(this).attr('data-id');
        $('#searchCompetence').attr('data-id',name);
        $('#competenceBody').removeAttr('hidden');
        $.ajax({
            url: '/ajax/getCompetenceTypeUser/',
            data:{
                'type':name
            },
            dataType: 'json',
            success: function(data){
                $('#body_of_competence').html(data['html_from_view']);

            }
        });
    });
    $('#searchCompetence').on('keyup', function(){
        var comp = $(this).val();
        var type = $(this).attr('data-id');
        $.ajax({
            url: '/ajax/getCompetenceTypeUser/',
            data:{
                'competence':comp,
                'type':type
            },
            dataType: 'json',
            success: function(data){
                $('#body_of_competence').html(data['html_from_view']);
            }

        });
    });

</script>

{% endblock %}