{% extends "html/index.html" %}
{% load static %}

{% block main_content %}
<div class="row mt-2">
    <div class="col">
        <h2 class="text-primary">History</h2>
        <ul class="nav nav-tabs mt-4" id="history-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="competence-tab" data-toggle="tab" href="#competence" role="tab">Competence</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="timeline-tab" data-toggle="tab" href="#timeline" role="tab">Timeline</a>
            </li>
        </ul>
        <div class="tab-content m-2" id="myTabContent">
             <div class="tab-pane fade show active" id="competence" role="tabpanel">
                <div class="row">
                    <div class="col col-xl-6">
                        Competence
                    </div>
                </div>
             </div>
            <div class="tab-pane fade" id="timeline" role="tabpanel">
                <div class="row">
                    <div class="col col-xl-6">
                        timeline
                    </div>
                </div>
             </div>
        </div>
    </div>
</div>
{% endblock main_content %}