{% extends "html/index.html" %}

{% load static %}

{% block main_content %}
<div class="row mt-2">
    <div class="col">
        <h2 class="text-primary">Analytics</h2>
        <ul class="nav nav-tabs mt-4" id="competencies-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="add-training-tab" data-toggle="tab" href="#runAnalyzes" role="tab">Analyze</a>
            </li>
        </ul>
        <div class="tab-content m-2" id="myTabContent">
            <div class="tab-pane  show active" id="runAnalyzes" role="tabpanel">
                <div class="row">
                    <div class="col">
                        <form id="analyze-form" method="POST" action="">
                            <label for="employeesSelect">Select employee/s:</label>
                            <div class="form-group row align-items-center">
                                <div class="col">
                                    <select class="form-control" multiple name="employeesSelect" id="employeesSelect">
                                        <option>Emp1</option>
                                        <option>Emp2</option>
                                        <option>Emp3</option>
                                    </select>
                                </div>
                                <div class="col-auto">
                                    <button type="button" class="btn btn-primary" id="selectAllEmployees">SELECT ALL</button>
                                </div>
                            </div>
                            <p>Select at least one of the Algorithms:</p>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="" id="algo1">
                                <label class="form-check-label" for="algo1">Algorithm 1</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="" id="algo2">
                                <label class="form-check-label" for="algo2">Algorithm 2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="" id="algo3">
                                <label class="form-check-label" for="algo3">Algorithm 3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="" id="algo4">
                                <label class="form-check-label" for="algo4">Algorithm 4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="" id="algo5">
                                <label class="form-check-label" for="algo5">Algorithm 5</label>
                            </div>
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary">ANALYZE</button>
                            </div>
                        </form>
                        <hr>
                        <h4>Results</h4>
                        <p><strong>Algorithm 1</strong></p>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead class="bg-primary text-white" style="font-size: .65rem;">
                                        <tr>
                                            <th scope="col" style="width: 1%;">#</th>
                                            <th scope="col">EMPLOYEE</th>
                                            <th scope="col">TRAINING</th>
                                            <th scope="col">TARGET COMPETENCE</th>
                                            <th scope="col">SEND INVITATION</th>
                                        </tr>
                                    </thead>
                                    <tbody style="font-size: .875rem; color:#525f7f; word-break: break-all;">
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Adem Kikaj</td>
                                            <td>English 1</td>
                                            <td>English</td>
                                            <td><a href="#" class="badge badge-primary">SEND</a></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>Adem Kikaj</td>
                                            <td>English 2</td>
                                            <td>English</td>
                                            <td><a href="#" class="badge badge-primary">SEND</a></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>Matevz Ogrinc</td>
                                            <td>English 1</td>
                                            <td>English</td>
                                            <td><a href="#" class="badge badge-primary">SEND</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary btn-sm">SEND ALL</button>
                            </div>
                        <hr>
                        <p><strong>Algorithm 2</strong></p>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead class="bg-primary text-white" style="font-size: .65rem;">
                                        <tr>
                                            <th scope="col" style="width: 1%;">#</th>
                                            <th scope="col">EMPLOYEE</th>
                                            <th scope="col">TRAINING</th>
                                            <th scope="col">TARGET COMPETENCE</th>
                                            <th scope="col">SEND INVITATION</th>
                                        </tr>
                                    </thead>
                                    <tbody style="font-size: .875rem; color:#525f7f; word-break: break-all;">
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>John Doe</td>
                                            <td>English 1</td>
                                            <td>English</td>
                                            <td><a href="#" class="badge badge-primary">SEND</a></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>John Doe</td>
                                            <td><a href="#" class="badge badge-primary">ADD TRAINING</a></td>
                                            <td>German</td>
                                            <td><a href="#" class="badge badge-primary">SEND</a></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>Matevz Ogrinc</td>
                                            <td>English 1</td>
                                            <td>English</td>
                                            <td><a href="#" class="badge badge-primary">SEND</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary btn-sm">SEND ALL</button>
                            </div>
                        <hr>
                        <p><strong>Algorithm 3</strong></p>
                            <p>SomeResults</p>
                        <hr>
                        <p><strong>Algorithm 4</strong></p>
                            <p>SomeResults</p>
                        <hr>
                        <p><strong>Algorithm 5</strong></p>
                            <p>SomeResults</p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}


{% block scripts %}
<script>

var data = [];

$("#employeesSelect").select2({data: data});

//button event to select all employees using the select2
$("#selectAllEmployees").on("click", function(){
    $('#employeesSelect').select2('destroy').find('option').prop('selected', 'selected').end().select2();
});

</script>
{% endblock scripts %}