{% extends "html/index.html" %}

{% load static %}

{% block main_content %}
<div class="row mt-2">
    <div class="col">
        <h2 class="text-primary">Analytics</h2>
        <ul class="nav nav-tabs mt-4" id="competencies-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="add-training-tab" data-toggle="tab" href="#runAnalyzes" role="tab">Analyze</a>
            </li>
        </ul>
        <div class="tab-content m-2" id="myTabContent">
            <div class="tab-pane  show active" id="runAnalyzes" role="tabpanel">
                <div class="row">
                    <div class="col">
                        <form id="analyze-form" method="POST" action="{% url 'analyticsCompute' %}">
                            {% csrf_token %}
                            <label for="employeesSelect">Select employee/s:</label>
                            <div class="form-group row align-items-center">
                                <div class="col">
                                    <select class="form-control" multiple name="employeesSelect" id="employeesSelect">
                                    {% for obj in employees %}
                                        <option>{{obj.first_name}} {{obj.last_name}} ({{obj.id_workplace.name}})</option>
                                    {% endfor %}
                                    </select>
                                </div>
                                <div class="col-auto">
                                    <button type="button" class="btn btn-primary" id="selectAllEmployees">SELECT ALL</button>
                                </div>
                            </div>
                            <p>Select at least one of the Algorithms:</p>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="algo1" id="algo1">
                                <label class="form-check-label" for="algo1">Algorithm 1</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="algo2" id="algo2">
                                <label class="form-check-label" for="algo2">Algorithm 2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="algo3" id="algo3">
                                <label class="form-check-label" for="algo3">Algorithm 3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="algo4" id="algo4">
                                <label class="form-check-label" for="algo4">Algorithm 4</label>
                            </div>
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary">ANALYZE</button>
                            </div>
                        </form>
                        <hr>
                        <h4>Results</h4>
                        {% include 'html/admin/partial_table_analytics.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="myAlert-bottom2 alert text-center alert-danger d-none alert-dismissable"></div>
<div class="modal" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editTrainingTitle">Training</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="edit-training-form" method="post" action="{% url 'editTraining' %}">
          {% csrf_token %}
            <div class="modal-body">
                <input type="text" class="form-control" name="edit_training_id" hidden id="edit-training-id">
                <div class="form-group">
                    <label for="edit-training-name">Training Name:</label>
                    <input type="text" class="form-control" name="edit_training_name" id="edit-training-name" required readonly>
                </div>
                <div class="form-group">
                    <label for="edit-training-desc">Training description:</label>
                    <input type="text" class="form-control" name="edit_training_desc" id="edit-training-desc" required readonly>
                </div>
                <div class="form-group">
                    <label for="edit-training-fromInput">From:</label>
                    <input type="date" class="form-control" name="edit_training_date_from" id="edit-training-fromInput" readonly>
                </div>
                <div class="form-group">
                    <label for="edit-training-toInput">To:</label>
                    <input type="date" class="form-control" name="edit_training_date_to" id="edit-training-toInput" readonly>
                </div>
                <div class="form-group">
                    <label for="edit-target-comp">Target competence:</label>
                    <select style="width:100%" class="js-example-basic-multiple js-states form-control" name="edit_training_competence" name="edit_target_comp" id="edit-target-comp" multiple="multiple" disabled required>
                        {% for obj in competency %}
                            <option class="showTraining">{{ obj.slo_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
      </form>
    </div>
  </div>
</div>
{% endblock main_content %}


{% block scripts %}
<script>

function removeAttrOfButtons(){
    $('.sendAll').each(function(){
        data = $(this).attr('data-id');
        if(!$('#'+data+'').find('.sendEmployee')[0]){
            $(this).removeClass('sendAll');
            $(this).removeClass('btn-primary').addClass('btn-secondary');
        }
    });
}
window.onload = removeAttrOfButtons();

$(document).on('click','.sendAll', function(){
    algorithem = $(this).attr("data-id");
    $(this).removeClass('sendAll');
    $(this).removeClass('btn-primary').addClass('btn-secondary');
    $('#'+algorithem+'').find('.sendEmployee').each(function(){
        $(this).trigger('click');
    });
});
$(document).on('click','.sendEmployee', function(){
    information = $(this).attr("data-id");
    $(this).attr("hidden","True");
    $.ajax({
        url: '/ajax/sendEmployeeOnTraining/',
        data:{
            'information':information
        },
        dataType: 'json',
        success: function(data){
            $("a[data-id='"+data.info+"']").each(function(){
                $(this).attr("hidden","True");
                $(this).removeClass('sendEmployee');
            });
            $('.myAlert-bottom2').removeClass('alert-danger').addClass('alert-success');
            $('.myAlert-bottom2').removeClass('d-none').addClass('d-inline');
            $('.myAlert-bottom2').text('Successfully sent invitation to employee');
            $('.myAlert-bottom2').show();
            $(this).attr("hidden","True")
            removeAttrOfButtons();
            setTimeout(function() {
                $('.myAlert-bottom2').removeClass('d-inline').addClass('d-none');
                $('.myAlert-bottom2').removeClass('alert-success').addClass('alert-danger');
            }, 3000);
        }
    });

});
$(document).on('click','.showTraining', function(){
     id_education = $(this).attr("data-id");
     $.ajax({
        url: '/ajax/getEditEducation/',
        data: {
            'id_education': id_education,
            'by':'name'
        },
        dataType: 'json',
        success: function(data){
            $('#edit-training-id').val(data['education'].id_education);
            $('#edit-training-name').val(data['education'].name);
            $('#edit-training-desc').val(data['education'].desc);
            $('#edit-training-fromInput').val(data['education'].date_from);
            $('#edit-training-toInput').val(data['education'].date_to);
            $('#edit-target-comp').val(data['competences']);
            $('#edit-target-comp').select2().trigger('change');
        }
     });
});
var data = [];

$("#employeesSelect").select2({data: data});

//button event to select all employees using the select2
$("#selectAllEmployees").on("click", function(){
    $('#employeesSelect').select2('destroy').find('option').prop('selected', 'selected').end().select2();
});

</script>
{% endblock scripts %}