{% extends "html/index.html" %}
{% load static %}


{% block child %}

<div class="title">
    <h3>Competencies</h3>
</div>

<div class="board">
        <div class="subtitle">
            <h3 class="competenceTitle">Competencies type</h3>
            <h3 class="competenceTitle">Competencies</h3>
        </div>
            <div class="block-add-competencies">
                <table class="table">
                  <thead class="thead-color">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Description</th>
                      <th scope="col">Edit/delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Strokovne</td>
                      <td>Lorem</td>
                      <td>Edit/delete</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Socialne</td>
                      <td>Lorem</td>
                      <td>Edit/delete</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Poslovne</td>
                      <td>Lorem</td>
                      <td>Edit/delete</td>
                    </tr>
                  </tbody>
                </table>
            </div>
            <div class="block-add-competencies">
                <table class="table">
                  <thead class="thead-color">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Type</th>
                      <th scope="col">Edit/delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Prikazuje znanje o...</td>
                      <td>Strokovne</td>
                      <td>Edit/delete</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Usposobljen za tehnično...</td>
                      <td>Strokovne</td>
                      <td>Edit/delete</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Usposobljen za ko...</td>
                      <td>Strokovne</td>
                      <td>Edit/delete</td>
                    </tr>
                  </tbody>
                </table>
            </div>
{% endblock child %}