{% extends "html/index.html" %}
{% load static %}

{% block main_content %}
    <div class="row mt-2">
        <div class="col">
            <h2 class="text-primary">Employees</h2>
            <ul class="nav nav-tabs mt-4" id="employee-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="add-employee-tab" data-toggle="tab" href="#addEmployee" role="tab">Add</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="show-employee-tab" data-toggle="tab" href="#showEmployee" role="tab">Employees</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="history-employee-tab" data-toggle="tab" href="#historyEmployee" role="tab">History</a>
                </li>
            </ul>
            <div class="tab-content m-2" id="myTabContent">
                <div class="tab-pane show active" id="addEmployee" role="tabpanel">
                    <div class="row">
                        <div class="col col-xl-6">
                            <form id="add-employee-form" method="POST" action="{% url 'add' %}">
                                {% csrf_token %}
                                <h4 class="text-primary">Employee Details</h4>
                                <div class="form-group">
                                    <label for="employee-name">First Name:</label>
                                    <input type="text" class="form-control" name="employee_name" id="employee-name" required>
                                </div>
                                <div class="form-group">
                                    <label for="employee-lastname">Last Name:</label>
                                    <input type="text" class="form-control" name="employee_lastname" id="employee-lastname" required>
                                </div>
                                <div class="form-group">
                                    <label for="employee-Phone">Phone (format: xxx-xxx-xxx):</label>
                                    <input type="tel" pattern="^\d{3}-\d{3}-\d{3}$" class="form-control" name="employee_phone" id="employee-Phone" required>
                                </div>
                                <div class="form-group">
                                    <label for="employee-city">City:</label>
                                    <input type="text" class="form-control" name="employee_city" id="employee-city" required>
                                </div>
                                <div class="form-group">
                                    <label for="employee-country">Country:</label>
                                    <input type="text" class="form-control" name="employee_country" id="employee-country" required>
                                </div>
                                <div class="form-group">
                                    <label for="employee-email">Email:</label>
                                    <input type="email" class="form-control" name="employee_email" id="employee-email" required>
                                </div>
                                <div class="form-group">
                                    <label for="employee-username">Username:</label>
                                    <input type="text" class="form-control" name="employee_username" id="employee-username" required>
                                </div>
                                <div class="form-group">
                                    <label for="employee-workplace">Workplace:</label>
                                    <select class="js-example-basic-multiple js-states form-control" name="employee-workplace" id="employee-workplace" multiple="multiple" required>
                                        {% for obj in workplaces %}
                                            <option>{{obj.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="text-right">
                                    <button type="submit" class="btn btn-primary">Add</button>
                                </div>
                             </form>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="showEmployee" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">All Employees</h5>
                                    <input type="text" class="form-control mt-2 mb-2" id="searchEmployee" placeholder="Search employee">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead class="bg-primary text-white" style="font-size: .65rem;">
                                                <tr>
                                                  <th scope="col">#</th>
                                                  <th scope="col">NAME</th>
                                                  <th scope="col">TYPE</th>
                                                  <th scope="col" class="text-center">EDIT / DELETE</th>
                                                </tr>
                                            </thead>
                                            <tbody style="font-size: .875rem; color:#525f7f; word-break: break-all;" id="bodyofEmployees">
                                            {% include 'html/admin/partial_table.html' %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="card" id="hideComp" hidden="True">
                                <div class="card-body">
                                <h5 class="card-title" data-id="" id="hiddenComp">Add Competencies</h5>
                                    <input type="text" class="form-control mt-2 mb-2" id="searchCompetenceType" placeholder="Search Competence Type">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead class="bg-primary text-white" style="font-size: .65rem;">
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">NAME</th>
                                                </tr>
                                            </thead>
                                            <tbody style="font-size: .875rem; color:#525f7f; word-break: break-all;" id="bodyOfCompetence">
                                            {% include 'html/admin/partial_table_competence.html' %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <input type="text" class="form-control mt-2 mb-2 hiddenDiv" id="searchCompetence" name="" placeholder="Search Competence">
                                    <div class="hiddenDiv" class="table-responsive" hidden="True">
                                            <table class="table table-hover">
                                                <thead class="bg-primary text-white" style="font-size: .65rem;">
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">NAME</th>
                                                        <th scope="col" style="width:50%;">SCORE</th>
                                                    </tr>
                                                </thead>

                                                <tbody style="font-size: .875rem; color:#525f7f; word-break: break-all;" id="bodyOfRealCompetence">
                                                {% include 'html/admin/partial_table_competence_values.html' %}
                                                </tbody>
                                            </table>
                                    </div>
                                    <input class="btn btn-primary hiddenDiv" type="submit" id="saveEmployee" name="" value="Save">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="myAlert-bottom2 alert text-center alert-danger d-none alert-dismissable"></div>
                <div class="tab-pane" id="historyEmployee" role="tabpanel" aria-labelledby="contact-tab">
                    <h4 class="text-primary">Employee History</h4>
                    <div class="form-group">
                        <label for="historyLabel">Search employee:</label>
                        <select style="width:40%" class="js-example-basic-multiple js-states form-control" id="historyLabel" name="history-label" placeholder="Enter employee name or username" multiple="multiple">
                            {% for obj in employees %}
                                <option>{{obj.first_name}} {{obj.last_name}} ({{obj.username}})</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-xl-6 text-center">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Modal Edit-->
<div class="modal" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalTitle">Edit employee</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="edit-employee-form" method="post" action="{% url 'edit' %}">
          {% csrf_token %}
            <div class="modal-body">
                <div class="form-group">
                    <label for="edit-employee-id" hidden>ID of employee</label>
                    <input type="text" class="form-control" name="edit-employee_id" id="edit-employee-id" required hidden="True">
                </div>
                <div class="form-group">
                    <label for="edit-employee-name">First Name:</label>
                    <input type="text" class="form-control" name="edit-employee_name" id="edit-employee-name" required>
                </div>
                <div class="form-group">
                    <label for="edit-employee-lastname">Last Name:</label>
                    <input type="text" class="form-control" name="edit-employee_lastname" id="edit-employee-lastname" required>
                </div>
                <div class="form-group">
                    <label for="edit-employee-Phone">Phone (format: xxx-xxx-xxx):</label>
                    <input type="tel" pattern="^\d{3}-\d{3}-\d{3}$" name="edit-employee_phone" class="form-control" id="edit-employee-phone" required>
                </div>
                <div class="form-group">
                    <label for="edit-employee-city">City:</label>
                    <input type="text" class="form-control" name="edit-employee_city" id="edit-employee-city" required>
                </div>
                <div class="form-group">
                    <label for="edit-employee-country">Country:</label>
                    <input type="text" class="form-control" name="edit-employee_country" id="edit-employee-country" required>
                </div>
                <div class="form-group">
                    <label for="edit-employee-email">Email:</label>
                    <input type="email" class="form-control" name="edit-employee_email" id="edit-employee-email" required>
                </div>
                <div class="form-group">
                    <label for="edit-employee-username">Username:</label>
                    <input type="text" class="form-control" name="edit-employee_username" id="edit-employee-username" required>
                </div>
                <div class="form-group">
                    <label for="edit-employee-workplace">Workplace:</label>
                    <select style="width:100%" class="js-example-basic-multiple js-states form-control" name="edit-employee_workplace" id="edit-employee-workplace" multiple="multiple" required>
                        {% for obj in workplaces %}
                            <option>{{obj.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
      </form>
    </div>
  </div>
</div>


<!-- Modal Delete-->
<div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalTitle">Delete employee</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>Are you sure you want to delete this employee?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger" data-id="" data-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>

{% endblock main_content %}

{% block scripts %}
<script>

$(document).on('click', '.deleteIconModal', function () {
   id_employee = $(this).attr("data-id");
   $('.btn-danger').attr('data-id',id_employee);
});

$(document).on('click', '.editIconModal',function() {
    id_employee = $(this).attr("data-id");
    $.ajax({
        url: '/ajax/getEditEmployee/',
        data:{
            'employee':id_employee
        },
        dataType: 'json',
        success: function(data){
            $('#edit-employee-id').val(data['id_employee']);
            $('#edit-employee-name').val(data['first_name']);
            $('#edit-employee-lastname').val(data['last_name']);
            $('#edit-employee-phone').val(data['phone']);
            $('#edit-employee-city').val(data['city']);
            $('#edit-employee-country').val(data['country']);
            $('#edit-employee-email').val(data['email']);
            $('#edit-employee-username').val(data['username']);
            $('#edit-employee-workplace').val(data['workplace']);
            $('#edit-employee-workplace').select2().trigger('change');
        }
    });
});

$(document).on('click', '.btn-danger', function(){
    id_employee = $(this).attr("data-id");
    $.ajax({
        url: '/ajax/deleteEmployee/',
        data:{
            'employee':id_employee
        },
        dataType: 'json',
        success: function(data){
            $('.myAlert-bottom2').removeClass('alert-danger').addClass('alert-success');
            $('.myAlert-bottom2').removeClass('d-none').addClass('d-inline');
            $('.myAlert-bottom2').text('Successfully deleted Employee');
            $('.myAlert-bottom2').show();
            setTimeout(function() {
              $('.myAlert-bottom2').removeClass('d-inline').addClass('d-none');
              $('.myAlert-bottom2').removeClass('alert-success').addClass('alert-danger');
              location.href='/employees';
            }, 3000);

        }
    });

});


$('#searchEmployee').on('keyup',function(){
    var user = $(this).val();
    $.ajax({
        url: '/ajax/findemployee/',
        data:{
        'username':user
        },
        dataType: 'json',
        success: function(data){
            $('#bodyofEmployees').html(data['html_from_view']);

        }
     });
});

$('#searchCompetenceType').on('keyup',function(){
    var value = $(this).val();
    $.ajax({
        url: '/ajax/findCompetenceType/',
        data:{
            'types':value
        },
        dataType: 'json',
        success: function(data){
            $('#bodyOfCompetence').html(data['html_from_view']);
        }
    });
});

$('.clickableCompetenceType').on('click',function(){
    var type = $(this).attr("name");
    $('.hiddenDiv').removeAttr('hidden');
    $('#searchCompetence').attr("name",type);
    var id_employee = $('#hiddenComp').attr("data-id");
    $.ajax({
        url: '/ajax/findCompetences/',
        data:{
            'types':type,
            'employee':id_employee
        },
        dataType: 'json',
        success: function(data){
            $('#bodyOfRealCompetence').html(data['html_from_view']);
            }
    });
});
$('#searchCompetence').on('keyup', function(){
    var value = $(this).val();
    var type = $(this).attr('name');
    var employee = $('#hiddenComp').attr("data-id");
    $.ajax({
        url: '/ajax/findCompetencesSearch/',
        data:{
            'types':type,
            'value':value,
            'employee':employee
        },
        dataType: 'json',
        success: function(data){
            $('#bodyOfRealCompetence').html(data['html_from_view']);
        }
   });
});
$('.clickableEmployee').on('click', function(){
    var employee = $(this).attr('name');
    var name_lastname = $(this).text()
    $('#hideComp').removeAttr('hidden');
    $('.hiddenDiv').attr('hidden','True');
    $('#saveEmployee').attr('name', employee);
    $('#hiddenComp').html("Add Competencies for employee "+name_lastname);
    $('#hiddenComp').attr('data-id',employee);

});

$('#saveEmployee').on('click', function(){
    var formData = {};
    var employee = $(this).attr('name');
    $('#bodyOfRealCompetence').find("th").each(function(){
        console.log($(this).next());
        formData[$(this).html()] = $(this).next('td').next('td').find('input').val();
    });
    console.log(formData);
    $.ajax({
        url: '/ajax/addCompetenciesUser/',
        data:{
            formData,
            'employee':employee
        },
        dataType: 'json',
        success: function(data){
            $('.myAlert-bottom2').removeClass('alert-danger').addClass('alert-success');
            $('.myAlert-bottom2').removeClass('d-none').addClass('d-inline');
            $('.myAlert-bottom2').text('Successfully added competency to employee');
            $('.myAlert-bottom2').show();
            setTimeout(function() {
              $('.myAlert-bottom2').removeClass('d-inline').addClass('d-none');
              $('.myAlert-bottom2').removeClass('alert-success').addClass('alert-danger');
            }, 2000);

        }
   });
});

var data = [];

$(".js-example-basic-multiple").select2({data: data});

var ctx = document.getElementById('myChart');
var myLineChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ['Competence 1', 'Competence 2', 'Competence 3', 'Competence 4', 'Competence 5', 'Competence 6', 'Competence 7'],
        datasets: [{
            label: 'Before Training',
            backgroundColor: 'rgba(255, 0, 0, 1)',
            borderColor: 'rgba(255, 0, 0, 1)',
            data: [4, 3, 2, 5, 2, 6, 8],
            fill: false,
        }, {
            label: 'After Training',
            fill: false,
            backgroundColor: 'rgba(0, 0, 255, 1)',
            borderColor: 'rgba(0, 0, 255, 1)',
            data: [7, 5, 5, 8, 3, 7, 10],
            fill: false
        }]
    }
});
</script>
{% endblock %}