{% extends "html/index.html" %}
{% load static %}

{% block main_content %}
<div class="row mt-2">
    <div class="col">
        <h2 class="text-primary">Options</h2>
        <ul class="nav nav-tabs mt-4" id="employee-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="users-tab" data-toggle="tab" href="#users" role="tab">Users</a>
            </li>
        </ul>
        <div class="tab-content m-2" id="myTabContent">
            <div class="tab-pane show active" id="users" role="tabpanel">
                <div class="row">
                    <div class="col col-xl-6">
                        <input type="text" class="form-control mb-2" id="searchEmployee" placeholder="Enter employee name or username">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="bg-primary text-white" style="font-size: .65rem;">
                                    <tr>
                                        <th scope="col" width="1%">#</th>
                                        <th scope="col" width="50%">USER</th>
                                        <th scope="col" width="50%">PASSWORD</th>
                                    </tr>
                                </thead>
                                <tbody id="bodyOfOption" style="font-size: .875rem; color:#525f7f; word-break: break-all;">
                                    {% include 'html/admin/partial_table_options.html' %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}
{% block scripts %}
<script>
$('#searchEmployee').on('keyup', function(){
    var user = $(this).val();
    $.ajax({
        url: '/ajax/findEmployeeForOption/',
        data:{
            'username':user
        },
        dataType: 'json',
        success: function(data){
            $('#bodyOfOption').html(data['html_from_view']);
        }
    });
});
</script>
{% endblock %}