
<p><strong>Algorithm 1</strong></p>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="bg-primary text-white" style="font-size: .65rem;">
                <tr>
                    <th scope="col" style="width: 1%;">#</th>
                    <th scope="col">EMPLOYEE</th>
                    <th scope="col">SUGGESTED TRAINING</th>
                    <th scope="col">TARGET COMPETENCE</th>
                    <th scope="col">ABSOLUTE LACK</th>
                    <th scope="col">SEND INVITATION</th>
                </tr>
            </thead>
            <tbody style="font-size: .875rem; color:#525f7f; word-break: break-all;">
            {% for key,value in ALG1.items %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{key}}</td>
                    {% for i in value %}
                        {% if forloop.first %}
                            {% if i == 'No training at this time' %}
                                <td><a href="/trainings">{{i}}</a></td>
                            {% elif i == '/' %}
                                <td>{{i}}</td>
                            {% else %}
                                <td><a href="#" class="showTraining" data-toggle="modal" data-id="{{i}}" data-target="#editModal">{{i}}</a></td>
                            {% endif %}
                        {% elif forloop.counter == 4 %}
                            {% if i == 'NO' %}
                                <td><div class="badge badge-secondary">SEND</div></td>
                            {% else %}
                                <td><a href="#" data-id="{{i}}" class="badge badge-primary sendEmployee">SEND</a></td>
                            {% endif %}
                        {% else %}
                            <td>{{i}}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="text-right">
        <button type="submit" class="btn btn-primary btn-sm">SEND ALL</button>
    </div>
<hr>
<p><strong>Algorithm 2</strong></p>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="bg-primary text-white" style="font-size: .65rem;">
                <tr>
                    <th scope="col" style="width: 1%;">#</th>
                    <th scope="col">EMPLOYEE</th>
                    <th scope="col">SUGGESTED TRAINING</th>
                    <th scope="col">TARGET COMPETENCE</th>
                    <th scope="col">RELATIVE LACK</th>
                    <th scope="col">SEND INVITATION</th>
                </tr>
            </thead>
            <tbody style="font-size: .875rem; color:#525f7f; word-break: break-all;">
                {% for key,value in ALG2.items %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{key}}</td>
                        {% for i in value %}
                            {% if forloop.first %}
                                {% if i == 'No training at this time' %}
                                    <td><a href="/trainings">{{i}}</a></td>
                                {% elif i == '/' %}
                                    <td>{{i}}</td>
                                {% else %}
                                    <td><a href="#" class="showTraining" data-toggle="modal" data-id="{{i}}" data-target="#editModal">{{i}}</a></td>
                                {% endif %}
                            {% elif forloop.counter == 4 %}
                                {% if i == 'NO' %}
                                    <td><div class="badge badge-secondary">SEND</div></td>
                                {% else %}
                                    <td><a href="#" data-id="{{i}}" class="badge badge-primary sendEmployee">SEND</a></td>
                                {% endif %}
                            {% else %}
                                <td>{{i}}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="text-right">
        <button type="submit" class="btn btn-primary btn-sm">SEND ALL</button>
    </div>
<hr>
<p><strong>Algorithm 3</strong></p>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="bg-primary text-white" style="font-size: .65rem;">
                <tr>
                    <th scope="col" style="width: 1%;">#</th>
                    <th scope="col">EMPLOYEE</th>
                    <th scope="col">SUGGESTED TRAINING</th>
                    <th scope="col">TARGET COMPETENCE</th>
                    <th scope="col">ABSOLUTE LACK</th>
                    <th scope="col">SEND INVITATION</th>
                </tr>
            </thead>
            <tbody style="font-size: .875rem; color:#525f7f; word-break: break-all;">
                {% for key,value in ALG3.items %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{key}}</td>
                        {% for i in value %}
                            {% if forloop.first %}
                                {% if i == 'No training at this time' %}
                                    <td><a href="/trainings">{{i}}</a></td>
                                {% elif i == '/' %}
                                    <td>{{i}}</td>
                                {% else %}
                                    <td><a href="#" class="showTraining" data-toggle="modal" data-id="{{i}}" data-target="#editModal">{{i}}</a></td>
                                {% endif %}
                            {% elif forloop.counter == 4 %}
                                {% if i == 'NO' %}
                                    <td><div class="badge badge-secondary">SEND</div></td>
                                {% else %}
                                    <td><a href="#" data-id="{{i}}" class="badge badge-primary sendEmployee">SEND</a></td>
                                {% endif %}
                            {% else %}
                                <td>{{i}}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="text-right">
        <button type="submit" class="btn btn-primary btn-sm">SEND ALL</button>
    </div>
<hr>
<p><strong>Algorithm 4</strong></p>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="bg-primary text-white" style="font-size: .65rem;">
                <tr>
                    <th scope="col" style="width: 1%;">#</th>
                    <th scope="col">EMPLOYEE</th>
                    <th scope="col">SUGGESTED TRAINING</th>
                    <th scope="col">TARGET COMPETENCE</th>
                    <th scope="col">LACK BY FORMULA</th>
                    <th scope="col">SEND INVITATION</th>
                </tr>
            </thead>
            <tbody style="font-size: .875rem; color:#525f7f; word-break: break-all;">
                {% for key,value in ALG4.items %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{key}}</td>
                        {% for i in value %}
                            {% if forloop.first %}
                                {% if i == 'No training at this time' %}
                                    <td><a href="/trainings">{{i}}</a></td>
                                {% elif i == '/' %}
                                    <td>{{i}}</td>
                                {% else %}
                                    <td><a href="#" class="showTraining" data-toggle="modal" data-id="{{i}}" data-target="#editModal">{{i}}</a></td>
                                {% endif %}
                            {% elif forloop.counter == 4 %}
                                {% if i == 'NO' %}
                                    <td><div class="badge badge-secondary">SEND</div></td>
                                {% else %}
                                    <td><a href="#" data-id="{{i}}" class="badge badge-primary sendEmployee">SEND</a></td>
                                {% endif %}
                            {% else %}
                                <td>{{i}}</td>
                            {% endif %}
                        {% endfor %}

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="text-right">
        <button type="submit" class="btn btn-primary btn-sm">SEND ALL</button>
    </div>
<hr>