{% for obj in employees %}
    <tr>
        <th scope="row">{{ obj.id_employee }}</th>
        <td><a href="#" class="clickableEmployee" name={{obj.id_employee}}>{{ obj.first_name }} {{ obj.last_name }}</a></td>
        <td>{{obj.id_workplace.name}}</td>
        <td class="text-center">
            <i class="far fa-edit text-success editIconModal" data-toggle="modal" data-target="#editModal"></i> / <i class="far fa-trash-alt text-danger deleteIconModal" data-toggle="modal" data-id={{obj.id_employee}} data-target="#deleteModal"></i>
        </td>
    </tr>
{% endfor %}
<script>
    $('.clickableEmployee').on('click', function(){
        var employee = $(this).attr('name');
        var name_lastname = $(this).text()
        $('#hideComp').removeAttr('hidden');
        $('.hiddenDiv').attr('hidden','True');
        $('#saveEmployee').attr('name', employee);
        $('#hiddenComp').html("Add Competencies for employee "+name_lastname);
        $('#hiddenComp').attr('data-id',employee);
    });
</script>