{% extends "html/index.html" %}

{% load static %}

{% block main_content %}
<div class="row mt-2">
    <div class="col">
        <h2 class="text-primary">Status</h2>
        <ul class="nav nav-tabs mt-4" id="employee-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="trainings-status-tab" data-toggle="tab" href="#trainingsStatus" role="tab">Trainings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="employee-status-tab" data-toggle="tab" href="#employeesStatus" role="tab">Employees</a>
            </li>
        </ul>
        <div class="tab-content m-2" id="myTabContent">
            <div class="tab-pane show active" id="trainingsStatus" role="tabpanel">
                <div class="row mt-2">
                    <div class="col">
                        <input type="text" class="form-control mb-2" id="searchTraining" placeholder="Search training">
                        <div id="holds">
                            {% include 'html/admin/partial_table_status.html' %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="employeesStatus" role="tabpanel" aria-labelledby="profile-tab">
                <div class="row mt-2">
                    <div class="col">
                        <div class="row align-items-center">
                            <div class="col">
                                <select style="width:40%" class="js-example-basic-multiple js-states form-control" id="historyTraining" name="history-Training" placeholder="Enter employee name or username" >
                                    {% for obj in employees %}
                                        <option>{{obj.first_name}} {{obj.last_name}} ({{obj.username}})</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-auto"><a class="btn btn-primary btn-sm mb-2" href="#" role="button"><i class="fas fa-file-pdf"></i> PDF</a></div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="bg-primary text-white" style="font-size: .65rem;">
                                    <tr>
                                        <th scope="col" width="1%">#</th>
                                        <th scope="col" width="20%">Training</th>
                                        <th scope="col" width="20%">FROM</th>
                                        <th scope="col" width="20%">TO</th>
                                        <th scope="col" width="20%">STATUS</th>
                                        <th scope="col" width="20">RESPONSE</th>
                                        <th scope="col" width="20%">RESEND</th>
                                    </tr>
                                </thead>
                                <tbody id="bodyOfParticipationEmployee" style="font-size: .875rem; color:#525f7f; word-break: break-all;">
                                    {% include 'html/admin/partial_table_status_employee.html' %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="myAlert-bottom2 alert text-center alert-danger d-none alert-dismissable"></div>
<div class="modal" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editTrainingTitle">Training</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="edit-training-form" method="post" action="{% url 'editTraining' %}">
          {% csrf_token %}
            <div class="modal-body">
                <input type="text" class="form-control" name="edit_training_id" hidden id="edit-training-id">
                <div class="form-group">
                    <label for="edit-training-name">Training Name:</label>
                    <input type="text" class="form-control" name="edit_training_name" id="edit-training-name" required readonly>
                </div>
                <div class="form-group">
                    <label for="edit-training-desc">Training description:</label>
                    <input type="text" class="form-control" name="edit_training_desc" id="edit-training-desc" required readonly>
                </div>
                <div class="form-group">
                    <label for="edit-training-fromInput">From:</label>
                    <input type="date" class="form-control" name="edit_training_date_from" id="edit-training-fromInput" readonly>
                </div>
                <div class="form-group">
                    <label for="edit-training-toInput">To:</label>
                    <input type="date" class="form-control" name="edit_training_date_to" id="edit-training-toInput" readonly>
                </div>
                <div class="form-group">
                    <label for="edit-target-comp">Target competence:</label>
                    <select style="width:100%" class="js-example-basic-multiple js-states form-control" name="edit_training_competence" name="edit_target_comp" id="edit-target-comp" multiple="multiple" disabled required>
                        {% for obj in competency %}
                            <option class="showTraining">{{ obj.slo_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
      </form>
    </div>
  </div>
</div>
<div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalTitle">Delete competence</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p id="nameOfTraining">Are you sure you want to cancel/delete training: ?</p>
          <small class="text-muted">Canceling training will delete all its descendants.</small>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger btn_delete_training" data-id="" data-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>

{% endblock main_content %}
{% block scripts %}
<script>
    $(document).on('click','.showTraining', function(){
         id_education = $(this).attr("data-id");
         $.ajax({
            url: '/ajax/getEditEducation/',
            data: {
                'id_education': id_education,
                'by':'name'
            },
            dataType: 'json',
            success: function(data){
                $('#edit-training-id').val(data['education'].id_education);
                $('#edit-training-name').val(data['education'].name);
                $('#edit-training-desc').val(data['education'].desc);
                $('#edit-training-fromInput').val(data['education'].date_from);
                $('#edit-training-toInput').val(data['education'].date_to);
                $('#edit-target-comp').val(data['competences']);
                $('#edit-target-comp').select2().trigger('change');
            }
         });
    });
    $(document).on('click','.resendInv', function(){
        information = $(this).attr('data-id');
        $(this).removeClass('resendInv');
        $(this).removeAttr('href');
        $(this).removeClass('badge');
        $(this).removeClass('badge-primary');
        $(this).text("-");
        console.log("hello");
        if($(this).attr('data-type') == 'first'){
            $.ajax({
                url: '/ajax/resendInv/',
                data:{
                    'information':information
                },
                dataType: 'json',
                success: function(data){
                    $('.myAlert-bottom2').removeClass('alert-danger').addClass('alert-success');
                    $('.myAlert-bottom2').removeClass('d-none').addClass('d-inline');
                    $('.myAlert-bottom2').text('Successfully sent invitation');
                    $('.myAlert-bottom2').show();
                    setTimeout(function() {
                        $('.myAlert-bottom2').removeClass('d-inline').addClass('d-none');
                        $('.myAlert-bottom2').removeClass('alert-success').addClass('alert-danger');
                        location.href='/status';
                    }, 3000);
                }
            });
        }else{
            $.ajax({
                url: '/ajax/resendInv/',
                data:{
                    'participation':information
                },
                dataType: 'json',
                success: function(data){
                    $('.myAlert-bottom2').removeClass('alert-danger').addClass('alert-success');
                    $('.myAlert-bottom2').removeClass('d-none').addClass('d-inline');
                    $('.myAlert-bottom2').text('Successfully sent invitation');
                    $('.myAlert-bottom2').show();
                    setTimeout(function() {
                        $('.myAlert-bottom2').removeClass('d-inline').addClass('d-none');
                        $('.myAlert-bottom2').removeClass('alert-success').addClass('alert-danger');
                        location.href='/status';
                    }, 3000);
                }
            });
        }
    });
    $('#searchTraining').on('keyup', function(){
        var training = $(this).val();
        $.ajax({
            url: '/ajax/findTrainingsByKey/',
            data:{
                'training':training
            },
            dataType: 'json',
            success: function(data){
                $('#holds').html(data['html_from_view']);
            }
        });
    });

    $( document ).ready(function() {
        $('#historyTraining').trigger('change');
    });
    $('#historyTraining').on('change', function(){
        var employee = $(this).val();
        $.ajax({
            url: '/ajax/getParticipationEmployee/',
            data:{
                'info':employee
            },
            dataType: 'json',
            success: function(data){
                $('#bodyOfParticipationEmployee').html(data['html_from_view']);
            }

        });

    });
    $(document).on('click','.cancelTraining', function(){
        name = $(this).attr("data-id");
        $('.btn_delete_training').attr('data-id',name);
        $('#nameOfTraining').html('Are you sure you want to cancel/delete training: '+name+'?');
    });

    $(document).on('click','.btn_delete_training', function(){
        name = $(this).attr("data-id");
        $.ajax({
            url: '/ajax/deleteTrainingByName/',
            data:{
                'name':name
            },
            dataType: 'json',
            success: function(data){
                $('.myAlert-bottom2').removeClass('alert-danger').addClass('alert-success');
                $('.myAlert-bottom2').removeClass('d-none').addClass('d-inline');
                $('.myAlert-bottom2').text('Successfully deleted training');
                $('.myAlert-bottom2').show();
                setTimeout(function() {
                    $('.myAlert-bottom2').removeClass('d-inline').addClass('d-none');
                    $('.myAlert-bottom2').removeClass('alert-success').addClass('alert-danger');
                    location.href='/status';
                }, 2000);
            }
        });

    });
    var data = [];
    $(".js-example-basic-multiple").select2({data: data});
</script>
{% endblock scripts %}