{% extends "html/index.html" %}

{% load static %}

{% block main_content %}
<div class="row mt-2">
    <div class="col">
        <h2 class="text-primary">Status</h2>
        <ul class="nav nav-tabs mt-4" id="employee-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="trainings-status-tab" data-toggle="tab" href="#trainingsStatus" role="tab">Trainings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="employee-status-tab" data-toggle="tab" href="#employeesStatus" role="tab">Employees</a>
            </li>
        </ul>
        <div class="tab-content m-2" id="myTabContent">
            <div class="tab-pane show active" id="trainingsStatus" role="tabpanel">
                <div class="row mt-2">
                    <div class="col">
                        {% include 'html/admin/partial_table_status.html' %}
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="employeesStatus" role="tabpanel" aria-labelledby="profile-tab">
                <div class="row mt-2">
                    <div class="col">
                        <div class="row align-items-center">
                            <div class="col">
                                <select style="width:40%" class="js-example-basic-multiple js-states form-control" id="historyLabel" name="history-label" placeholder="Enter employee name or username" >
                                    {% for obj in employees %}
                                        <option>{{obj.first_name}} {{obj.last_name}} ({{obj.username}})</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-auto"><a class="btn btn-primary btn-sm mb-2" href="#" role="button"><i class="fas fa-file-pdf"></i> PDF</a></div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="bg-primary text-white" style="font-size: .65rem;">
                                    <tr>
                                        <th scope="col" width="1%">#</th>
                                        <th scope="col" width="20%">Training</th>
                                        <th scope="col" width="20%">FROM</th>
                                        <th scope="col" width="20%">TO</th>
                                        <th scope="col" width="20%">STATUS</th>
                                        <th scope="col" width="20%">RESEND</th>
                                    </tr>
                                </thead>
                                <tbody style="font-size: .875rem; color:#525f7f; word-break: break-all;">
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>English 1</td>
                                        <td>10.05.2019</td>
                                        <td>30.05.2019</td>
                                        <td>Finished</td>
                                        <td>-</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>English 2</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>Declined</td>
                                        <td><a href="#" class="badge badge-primary">Resend</a></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>German 1</td>
                                        <td>15.06.2019</td>
                                        <td>-</td>
                                        <td>Accepted</td>
                                        <td>-</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}