{% extends "html/index.html" %}

{% load static %}
{% block main_content %}
<div class="row mt-2">
    <div class="col">
        <h2 class="text-primary">Trainings</h2>
        <ul class="nav nav-tabs mt-4" id="competencies-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="add-training-tab" data-toggle="tab" href="#addtraining" role="tab">Add</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="show-trainings-tab" data-toggle="tab" href="#showtrainings" role="tab">All Trainings</a>
            </li>
        </ul>
        <div class="tab-content m-2" id="myTabContent">
            <div class="tab-pane fade show active" id="addtraining" role="tabpanel">
                <div class="row">
                    <div class="col col-xl-6">
                        <form id="add-training-form" method="post" action="{% url 'trainingsAdd' %}">
                            {% csrf_token %}
                            <h4 class="text-primary">Add training</h4>
                            <div class="form-group">
                                <label for="training-name">Training Name:</label>
                                <input type="text" class="form-control" name="training_name" id="training-name" required>
                            </div>
                            <div class="form-group">
                                <label for="training-desc">Training description:</label>
                                <input type="text" class="form-control" name="training_desc" id="training-desc" required>
                            </div>
                            <div class="form-group">
                                <label for="fromInput">From:</label>
                                <input type="date" class="form-control" name="date_from" id="fromInput">
                            </div>
                            <div class="form-group">
                                <label for="toInput">To:</label>
                                <input type="date" class="form-control" name="date_to" id="toInput">
                            </div>
                            <div class="form-group">
                                <label for="target-comp">Target competence:</label>
                                <select class="js-example-basic-multiple js-states form-control" name="training_competence" id="target-comp" multiple="multiple" required>
                                    {% for obj in competency %}
                                    <option>{{ obj.slo_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="showtrainings" role="tabpanel">
                <div class="row">
                    <div class="col col-xl-6">
                        <h4 class="text-primary">Trainings</h4>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="bg-primary text-white" style="font-size: .65rem;">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">NAME</th>
                                        <th scope="col">DESCRIPTION</th>
                                        <th scope="col">FROM</th>
                                        <th scope="col">TO</th>
                                        <th scope="col" class="text-center">EDIT / DELETE</th>
                                    </tr>
                                </thead>
                                <tbody style="font-size: .875rem; color:#525f7f; word-break: break-all;">
                                {% for obj in trainings %}
                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td>{{ obj.name }}</td>
                                        <td>{{ obj.desc }}</td>
                                        <td>{{ obj.date_from }}</td>
                                        <td>{{ obj.date_to  }}</td>
                                        <td class="text-center">
                                            <i class="far fa-edit text-success editIconModal" data-toggle="modal" data-id="{{obj.id_education}}" data-target="#editModal"></i> / <i class="far fa-trash-alt text-danger deleteIconModal" data-toggle="modal" data-id="{{obj.id_education}}" data-target="#deleteModal"></i>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="myAlert-bottom2 alert text-center alert-danger d-none alert-dismissable"></div>
<!-- Modal Edit Competence -->
<div class="modal" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editTrainingTitle">Edit Training</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <form id="edit-training-form" method="post" action="{% url 'upload' %}">
                <div class="form-group">
                    <label for="edit-training-name">Training Name:</label>
                    <input type="text" class="form-control" name="edit_training_name" id="edit-training-name" required>
                </div>
                <div class="form-group">
                    <label for="edit-training-desc">Training description:</label>
                    <input type="text" class="form-control" name="edit_training_desc" id="edit-training-desc" required>
                </div>
                <div class="form-group">
                    <label for="edit-training-fromInput">From:</label>
                    <input type="date" class="form-control" name="edit_training_date_from" id="edit-training-fromInput">
                </div>
                <div class="form-group">
                    <label for="edit-training-toInput">To:</label>
                    <input type="date" class="form-control" name="edit_training_date_to" id="edit-training-toInput">
                </div>
                <div class="form-group">
                    <label for="edit-target-comp">Target competence:</label>
                    <select style="width:100%" class="js-example-basic-multiple js-states form-control" name="edit_training_competence" name="edit_target_comp" id="edit-target-comp" multiple="multiple" required>
                        {% for obj in competency %}
                            <option>{{ obj.slo_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Delete Competence -->
<div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteTrainingTitle">Delete training</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>Are you sure you want to delete this training?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger deleteTraining" data-dismiss="modal" data-id="">Delete</button>
      </div>
    </div>
  </div>
</div>
{% endblock main_content %}

{% block scripts %}
<script>
$(document).on('click','.deleteIconModal', function(){
    id_education = $(this).attr("data-id");
    $('.deleteTraining').attr('data-id', id_education);

});

$(document).on('click','.editIconModal', function(){
    id_education = $(this).attr("data-id");
    $.ajax({
        url: '/ajax/getEditEducation/',
        data: {
            'id_education': id_education
        },
        dataType: 'json'
        success: function(data){
            $('#edit-training-name').val(data['name']);
            $('#edit-training-desc').val(data['desc']);
            $('#edit-training-fromInput').val(data['from']);
            $('#edit-training-toInput').val(data['to']);
            $('#edit-target-comp').val(data['competences']);
            $('#edit-target-comp').select2().trigger('change');
        }
    });

});


$(document).on('click','.deleteTraining', function(){
    id_education = $(this).attr("data-id");
    $.ajax({
        url: '/ajax/deleteTraining/',
        data:{
            'id_education':id_education
        },
        dataType: 'json',
        success: function(data){
            $('.myAlert-bottom2').removeClass('alert-danger').addClass('alert-success');
            $('.myAlert-bottom2').removeClass('d-none').addClass('d-inline');
            $('.myAlert-bottom2').text('Successfully deleted training');
            $('.myAlert-bottom2').show();
            setTimeout(function() {
              $('.myAlert-bottom2').removeClass('d-inline').addClass('d-none');
              $('.myAlert-bottom2').removeClass('alert-success').addClass('alert-danger');
              location.href='/trainings';
            }, 2000);
        }
    });
});

var data = [];

$(".js-example-basic-multiple").select2({data: data});
</script>
{% endblock %}