{% extends "html/index.html" %}

{% load static %}

{% block child %}

<div class="title">
    <h3>Trainings</h3>
</div>

<div class="employee-tabs">
    {% if picked == "add" %}
        <div class="tabsColor">
            <h4>Add</h4>
        </div>
    {% else %}
        <div class="tabs">
            <h4><a href="{%url 'trainings' %}" class="none-style-link">Add</a></h4>
        </div>
    {% endif %}
    {% if picked == "trainings" %}
        <div class="tabsColor">
            <h4>Trainings</h4>
        </div>
    {% else %}
        <div class="tabs">
            <h4><a href="trainings/training" class="none-style-link">Trainings</a></h4>
        </div>
    {% endif %}
</div>

{% endblock child %}