{% extends "html/index.html" %}
{% load static %}
{% block pagestyle %}
<style>
    .table th, .table td{
        vertical-align:middle !important;
    }
</style>
    {% endblock %}
{% block main_content %}
<div class="row mt-2">
    <div class="col">
        <h2 class="text-primary">Workplaces</h2>
         <ul class="nav nav-tabs mt-4" id="employee-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="add-workplaces-tab" data-toggle="tab" href="#addWorkplace" role="tab">Add</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="show-workplaces-tab" data-toggle="tab" href="#showWorkplaces" role="tab">Workplaces</a>
            </li>
         </ul>
        <div class="tab-content m-2" id="myTabContent">
            <div class="tab-pane show active" id="addWorkplace" role="tabpanel">
                <form id="add-workplace-form" method="POST" action="{% url 'workplaceAdd' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col col-xl-8">
                            <h4 class="text-primary">Add Workplace</h4>
                            <div class="form-group">
                                <label for="workplace_name">Name:</label>
                                <input type="text" class="form-control" name="workplace_name" id="workplace_name" required>
                            </div>
                            <div class="form-group">
                                <label for="workplace_desc">Description:</label>
                                <input type="text" class="form-control" name="workplace_desc" id="workplace_desc" required>
                            </div>
                            <div class="form-group row align-items-center">
                                <div class="col-6">
                                    <label for="workplace_desc">Add competencies and their relevance:</label>
                                </div>
                                <div class="col-6 text-right">
                                    <span id="addCompReleField" style="cursor:pointer;" class="text-primary"><i class="fas fa-plus"></i></span>
                                </div>
                            </div>
                            <div class="comprele">
                                <div class="form-group row align-items-center">
                                    <div class="col-6">
                                        <select class="form-control" name="competence0" id="competence0">
                                            {% for obj in competency %}
                                                <option>{{obj.slo_name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-3">
                                        <input type="text" class="form-control" name="minReq0" id="minReq0" placeholder="Minimum required score" required>
                                    </div>
                                    <div class="col-3">
                                        <input type="text" class="form-control" name="relevance0" id="relevance0" placeholder="Relevance" required>
                                    </div>
                                </div>
                            </div>
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary">Add</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane" id="showWorkplaces" role="tabpanel">
                <div class="row">
                    <!-- Table of Workplaces -->
                    <div class="col-xl-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">All Workplaces</h5>
                                <input type="text" class="form-control mt-2 mb-2" id="searchWorkplace" placeholder="Search workplace">
                                <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="bg-primary text-white" style="font-size: .65rem;">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">NAME</th>
                                    <th scope="col">DESCRIPTION</th>
                                    <th scope="col" class="text-center">EDIT / DELETE</th>
                                </tr>
                            </thead>

                                <tbody style="font-size: .875rem; color:#525f7f; word-break: break-all;">
                                    {% include 'html/admin/partial_table_workplaces.html' %}
                                </tbody>
                        </table>
                    </div>
                            </div>
                        </div>
                    </div>
                    <!-- Table of Competencies and their Relevance -->
                    <div class="col-xl-6" id="hiddenCompRel" hidden="True">
                        <div class="card">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h5 class="card-title">Competencies and Relevance</h5>
                                    </div>
                                    <div class="col text-right">
                                        <button type="button" class="btn btn-primary btn-sm add_button_competency" data-toggle="modal" data-id="" data-target="#addCompModal">Add</button>
                                        <button type="button" class="btn btn-primary btn-sm" data-id="" id="saveChangedWorkplaces">Save</button>
                                    </div>
                                </div>
                                <!--<input type="text" class="form-control mt-2 mb-2" id="searchCompetence" placeholder="Search competence"> -->
                                <div class="table-responsive">
                                    <div class="table-wrapper-scroll-y my-custom-scrollbar">
                                        <table id="tableScroll" class="table table-hover">
                                            <thead class="bg-primary text-white" style="font-size: .65rem;">
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">COMPETENCE</th>
                                                    <th scope="col">RELEVANCE</th>
                                                    <th scope="col">MINIMUM REQUIRED</th>
                                                    <th scope="col" class="text-center">DELETE</th>
                                                </tr>
                                            </thead>
                                            <tbody style="font-size: .875rem; color:#525f7f; word-break: break-all;" id="relevanceId">
                                                {% include 'html/admin/partial_table_workplaces_relevance.html' %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="myAlert-bottom2 alert text-center alert-danger d-none alert-dismissable"></div>
<!-- Modal Edit-->
<div class="modal" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalTitle">Edit Workplace</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="edit-employee-form" method="post" action="{% url 'workplaceEdit' %}">
          {% csrf_token %}
            <input type="text" class="form-control" name="edit-workplace-id" id="edit-workplace-id" hidden="True">
            <div class="modal-body">
                <div class="form-group">
                    <label for="edit-workplace-name">Name:</label>
                    <input type="text" class="form-control" name="edit-workplace-name" id="edit-workplace-name" required>
                </div>
                <div class="form-group">
                    <label for="edit-workplace-desc">Description:</label>
                    <input type="text" class="form-control" name="edit-workplace-desc" id="edit-workplace-desc" required>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
      </form>
    </div>
  </div>
</div>


<!-- Modal Delete-->
<div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalTitle">Delete workplace</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>Are you sure you want to delete this workplace?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger btn_delete_workplace" data-id="" data-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Delete competence-relevance -->
<div class="modal" id="deleteModalCompetenceRelevance" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalTitleCompetence">Delete Competence for this workplace</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>Are you sure you want to delete this competence for the selected workplace?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger btn_delete_Competence" data-id="" data-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Add Extra Competence to Workplace -->
<div class="modal" id="addCompModal" tabindex="-1" role="dialog" aria-labelledby="addCompModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCompModalTitle">Add Competence to Workplace</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <form id="add-extra-workplace-form" method="POST" action="{% url 'addExtraCompetence' %}">
            {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <label for="extra_workplace_name">Name:</label>
                        <input type="text" class="form-control" name="extra_workplace_name" id="extra_workplace_name" readonly required>
                    </div>
                    <div class="form-group">
                        <label for="extra_workplace_desc">Description:</label>
                        <input type="text" class="form-control" name="extra_workplace_desc" id="extra_workplace_desc" readonly required>
                    </div>
                    <div class="form-group row align-items-center">
                        <div class="col">
                            <label for="workplace_desc">Add competencies and their relevance:</label>
                        </div>
                        <div class="col-1 text-right">
                            <span id="addCompReleFieldE" style="cursor:pointer;" class="text-primary"><i class="fas fa-plus"></i></span>
                        </div>
                    </div>
                    <div class="extracomprele">
                        <div class="form-group row align-items-center">
                            <div class="col">
                                <select class="form-control" name="extracompetence0" id="extracompetence0">
                                    {% for obj in competency %}
                                        <option>{{obj.slo_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" name="extraminReq0" id="extraminReq0" placeholder="Minimum required score" required>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" name="extrarelevance0" id="extrarelevance0" placeholder="Relevance" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Add</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock main_content %}

{% block scripts %}
<script>
$('.clickableWorkplace').on('click', function(){
    var workplace_name = $(this).attr("name");
    $('.add_button_competency').attr('data-id',workplace_name);
    $('#saveChangedWorkplaces').attr('data-id', workplace_name);
    $('#hiddenCompRel').removeAttr('hidden');
    $.ajax({
        url: '/ajax/findWorkplaceCompetences/',
        data:{
            'name':workplace_name
        },
        dataType: 'json',
        success: function(data){
            $('#relevanceId').html(data['html_from_view']);
        }
    });
});
$(document).on('click', '.deleteCompetenceOfWorkplace', function(){
    name = $(this).attr("data-id");
    $('.btn_delete_Competence').attr('data-id',name);

});

$(document).on('click','.editWorkplace', function(){
    name = $(this).attr("data-id");
    $.ajax({
        url: '/ajax/getEditWorkplace/',
        data:{
            'name':name
        },
        dataType: 'json',
        success: function(data){
            $('#edit-workplace-id').val(data['id_workplace'])
            $('#edit-workplace-name').val(data['name']);
            $('#edit-workplace-desc').val(data['desc']);
        }
    });
});

$(document).on('click','.btn_delete_Competence', function(){
    id = $(this).attr("data-id");
    $.ajax({
        url: '/ajax/deleteCompetenceRelevance/',
        data:{
            'id_relevance':id
        },
        dataType: 'json',
        success: function(data){
            $('.myAlert-bottom2').removeClass('alert-danger').addClass('alert-success');
            $('.myAlert-bottom2').removeClass('d-none').addClass('d-inline');
            $('.myAlert-bottom2').text('Successfully deleted competence for this workplace.');
            $('.myAlert-bottom2').show();
            setTimeout(function() {
                $('.myAlert-bottom2').removeClass('d-inline').addClass('d-none');
                $('.myAlert-bottom2').removeClass('alert-success').addClass('alert-danger');
                location.href='/workplaces';
            }, 3000);
        }
    });
});
$(document).on('click','.add_button_competency', function(){
    name = $(this).attr("data-id");
    $.ajax({
        url: '/ajax/getEditWorkplace/',
        data:{
            'name':name
        },
        dataType: 'json',
        success: function(data){
            $('#extra_workplace_name').val(data['name']);
            $('#extra_workplace_desc').val(data['desc']);
        }
    })
});

$(document).on('click','.deleteWorkplace', function(){
    name = $(this).attr("data-id");
    $('.btn_delete_workplace').attr('data-id', name);
});

$(document).on('click', '.btn_delete_workplace', function(){
    name = $(this).attr("data-id");
    $.ajax({
        url: '/ajax/deleteWorkplace/',
        data:{
            'name':name
        },
        dataType: 'json',
        success: function(data){
            $('.myAlert-bottom2').removeClass('alert-danger').addClass('alert-success');
            $('.myAlert-bottom2').removeClass('d-none').addClass('d-inline');
            $('.myAlert-bottom2').text('Successfully deleted workplace');
            $('.myAlert-bottom2').show();
            setTimeout(function() {
                $('.myAlert-bottom2').removeClass('d-inline').addClass('d-none');
                $('.myAlert-bottom2').removeClass('alert-success').addClass('alert-danger');
                location.href='/workplaces';
            }, 3000);
        }
    });
});

$('#saveChangedWorkplaces').on('click', function(){
    var formData = {};
    var workplace = $(this).attr('data-id');
    $('#relevanceId').find("th").each(function(){
        formData[$(this).next('td').html()] = $(this).next('td').next('td').find('input').val()+' '+$(this).next('td').next('td').next('td').find('input').val();
    });
    $.ajax({
        url: '/ajax/editCompetencyRelevance/',
        data:{
            formData,
            'workplace':workplace
        },
        dataType: 'json',
        success: function(data){
            $('.myAlert-bottom2').removeClass('alert-danger').addClass('alert-success');
            $('.myAlert-bottom2').removeClass('d-none').addClass('d-inline');
            $('.myAlert-bottom2').text('Successfully edited competency relevance for workplace');
            $('.myAlert-bottom2').show();
            setTimeout(function() {
              $('.myAlert-bottom2').removeClass('d-inline').addClass('d-none');
              $('.myAlert-bottom2').removeClass('alert-success').addClass('alert-danger');
            }, 2000);
        }
    });
});

var data = [];

$("#extracompetence0 option").each(function(){
    data.push($(this).val());
});

$("#extracompetence0").select2({data: data});

$("#competence0 option").each(function(){
    data.push($(this).val());
});

$("#competence0").select2({data: data});

var idCounter = 1;

$("#addCompReleField").on("click", function(){
    inputFieldsHtml = '<div class="form-group row align-items-center" id="'+idCounter+'">'+
        '<div class="col-6">'+
            '<select class="form-control" name="competence'+idCounter+'" id="competence'+idCounter+'">{% for obj in competency %}<option>{{obj.slo_name}}</option>{% endfor %}</select>'+
        '</div>'+
        '<div class="col-3">'+
            '<input type="text" class="form-control" name="minReq'+idCounter+'" id="minReq'+idCounter+'" placeholder="Minimum required score" required>'+
        '</div>'+
        '<div class="col-2">'+
            '<input type="text" class="form-control" name="relevance'+idCounter+'" id="relevance'+idCounter+'" placeholder="Relevance" required>'+
        '</div>'+
        '<div class="col-1 text-right">'+
            '<span class="deleteCompReleField text-danger" data-id="'+idCounter+'" style="cursor:pointer;"><i class="fas fa-minus"></i></span>'+
        '</div>'+
    '</div>';
    $(".comprele").append(inputFieldsHtml);
    $("#competence"+idCounter).select2({data: data});
    idCounter++;
});

$(".comprele").on("click", ".deleteCompReleField", function(){
    $("#"+$(this).data("id")).remove();
});


// ===================== For Modal =====================

var ExtraIDCounter = 1;

$("#addCompReleFieldE").on("click", function(){
    ExtraInputFieldsHtml = '<div class="form-group row align-items-center" id="'+ExtraIDCounter+'">'+
        '<div class="col">'+
            '<select class="form-control" name="extracompetence'+ExtraIDCounter+'" id="extracompetence'+ExtraIDCounter+'">{% for obj in competency %}<option>{{obj.slo_name}}</option>{% endfor %}</select>'+
        '</div>'+
        '<div class="col">'+
            '<input type="text" class="form-control" name="extraminReq'+ExtraIDCounter+'" id="extraminReq'+ExtraIDCounter+'" placeholder="Minimum required score" required>'+
        '</div>'+
        '<div class="col">'+
            '<input type="text" class="form-control" name="extrarelevance'+ExtraIDCounter+'" id="extrarelevance'+ExtraIDCounter+'" placeholder="Relevance" required>'+
        '</div>'+
        '<div class="col-1 text-right">'+
            '<span class="deleteCompReleField text-danger" data-id="'+ExtraIDCounter+'" style="cursor:pointer;"><i class="fas fa-minus"></i></span>'+
        '</div>'+
    '</div>';
    $(".extracomprele").append(ExtraInputFieldsHtml);
    $("#competence"+ExtraIDCounter).select2({data: data});
    ExtraIDCounter++;
});

$(".extracomprele").on("click", ".deleteCompReleField", function(){
    $("#"+$(this).data("id")).remove();
});

$(".deleteCompetenceOfWorkplace").on("click", function(){
    var compWorkId = $(this).parent().parent().attr("id");
    if(confirm("Are you sure you want to delete this?")){
        $("#"+compWorkId).remove();
    }
    else{
        return false;
    }

});

</script>
{% endblock %}
