{% extends "html/index.html" %}
{% load static %}


{% block child %}

<div class="title">
    <h3>Competencies</h3>
</div>

<div class="employee-tabs">
    {% if picked == "add" %}
        <div class="tabsColor">
            <h4>Add</h4>
        </div>
    {% else %}
        <div class="tabs">
            <h4><a href="add" class="none-style-link">Add</a></h4>
        </div>
    {% endif %}
    {% if picked == "competence" %}
        <div class="tabsColor">
            <h4>Competencies</h4>
        </div>
    {% else %}
        <div class="tabs">
            <h4><a href="competencies" class="none-style-link">Competencies</a></h4>
        </div>
    {% endif %}
</div>
<div class="board">
    {% if picked == "add" %}

        <div class="subtitle">
            <h3>Add Competence</h3>
        </div>
            <div class="block-add">
                <form id="add-employee-form" method="post" action="{% url 'competencies' %}">
                    <label class="form-label">Competence type</label>
                    <input class="inputs2" type="text" name="employee-name" required>
                    <label class="form-label">Competence name</label>
                    <input class="inputs2" type="text" name="employee-lastName" required>
                    <label class="form-label">Description</label>
                    <input class="inputs2" type="text" name="employee-phone" required>
                    <input type="submit" id="submit-btn3" value="Add" class="rounded">
                </form>
            </div>
        </div>

    {% endif %}
    {% if picked == 'competence' %}
        <div class="subtitle">
            <h3 class="competenceTitle">Competencies type</h3>
            <h3 class="competenceTitle">Competencies</h3>
        </div>
            <div class="block-add-competencies">
                <table class="table">
                  <thead class="thead-color">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Description</th>
                      <th scope="col">Edit/delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Strokovne</td>
                      <td>Lorem</td>
                      <td>Edit/delete</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Socialne</td>
                      <td>Lorem</td>
                      <td>Edit/delete</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Poslovne</td>
                      <td>Lorem</td>
                      <td>Edit/delete</td>
                    </tr>
                  </tbody>
                </table>
            </div>
            <div class="block-add-competencies">
                <table class="table">
                  <thead class="thead-color">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Type</th>
                      <th scope="col">Edit/delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Prikazuje znanje o...</td>
                      <td>Strokovne</td>
                      <td>Edit/delete</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Usposobljen za tehnično...</td>
                      <td>Strokovne</td>
                      <td>Edit/delete</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Usposobljen za ko...</td>
                      <td>Strokovne</td>
                      <td>Edit/delete</td>
                    </tr>
                  </tbody>
                </table>
            </div>
    {% endif %}
{% endblock child %}