{% extends "html/index.html" %}
{% load static %}


{% block child %}

<div class="title">
    <h3>Employees</h3>
</div>
<div class="employee-tabs">
    {% if picked == "add" %}
        <div class="tabsColor">
            <h4>Add</h4>
        </div>
    {% else %}
        <div class="tabs">
            <h4><a href="{% url 'employee' %}" class="none-style-link">Add</a></h4>
        </div>
    {% endif %}
    {% if picked == "employee" %}
        <div class="tabsColor">
            <h4>Employees</h4>
        </div>
    {% else %}
        <div class="tabs">
            <h4><a href="{% url 'employee/employees' %}" class="none-style-link">Employees</a></h4>
        </div>
    {% endif %}
    {% if picked == "history" %}
        <div class="tabsColor">
            <h4>History</h4>
        </div>
    {% else %}
        <div class="tabs">
            <h4><a href="{% url 'employee/history' %}" class="none-style-link">History</a></h4>
        </div>
    {% endif %}
</div>
<div class="board">
    {% if picked == "add" %}

        <div class="subtitle">
            <h3>Add employee</h3>
        </div>
            <div class="block-add">
                <form id="add-employee-form" method="post" action="{% url 'employee' %}">
                    <label class="form-label">First name</label>
                    <input class="inputs2" type="text" name="employee-name" required>
                    <label class="form-label">Last name</label>
                    <input class="inputs2" type="text" name="employee-lastName" required>
                    <label class="form-label">Phone</label>
                    <input class="inputs2" type="text" name="employee-phone" required>
                    <label class="form-label">City</label>
                    <input class="inputs2" type="text" name="employee-city" required>
                    <label class="form-label">Country</label>
                    <input class="inputs2" type="text" name="employee-country" required>
                    <label class="form-label">Email</label>
                    <input class="inputs2" type="text" name="employee-email" required>
                    <label class="form-label">Position</label>
                    <input class="inputs2" type="text" name="employee-position" required>
                    <input type="submit" id="submit-btn3" value="Add" class="rounded">
                </form>
            </div>
        </div>

    {% endif %}
    {% if picked == 'employee' %}
        <div class="subtitle">
            <h3>All employees</h3>
        </div>
            <div class="block-add-employees">
                <table class="table">
                  <thead class="thead-color">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Type</th>
                      <th scope="col">Edit/delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>IT-department</td>
                      <td>Edit/delete</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Adem Kikaj</td>
                      <td>IT-department</td>
                      <td>Edit/delete</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Jure</td>
                      <td>Finance</td>
                      <td>Edit/delete</td>
                    </tr>
                  </tbody>
                </table>

            </div>

    {% endif %}
    {% if picked == 'history' %}
        <div class="subtitle">
            <h3>History</h3>
        </div>
        <div class="block-add-employees">
            <input id="search_bar" type="text" placeholder="Search Employee..." class="rounded shadow">
        </div>
    {% endif %}
</div>
{% endblock child %}