{% extends "html/base.html" %}
{% load static %}


{% block content %}
<div class="login-container">
    <div class="header">
        <div id="title-container">
            <h1 id="header">Respo</h1>
        </div>
        <div id="icon-container">
            <img class="icons-respo" src="{% static 'img/user_icon.png' %}">
            <img class="icons-respo" id="icon-mail" src="{% static 'img/mail_icon.png' %}">
            <img class="icons-respo" id="icon-notification" src="{% static 'img/notification_icon.png' %}">
        </div>
    </div>
    <!-- main container -->
    <div class="main-container">
        <!--nav container -->
        <div id="nav-container">
            <div class="profile-container">
                <div id="profile">
                    <img class="icons-respo" id="second-profile" src="{% static 'img/user_icon.png' %}">
                </div>
                <div id="username-container">
                    <label id="user-label">Adem Kikaj</label>
                    <label id="position-label">Admin</label>
                </div>
            </div>
            <nav id="sidebar">
                <div class="sidebar-container">
                    <ul class="list-unstyled components">
                        <li>
                            <a href="upload" class="nav-border">Upload</a>
                        </li>
                        <li>
                            <a href="#" class="nav-border">Employees</a>
                        </li>
                        <li>
                            <a href="#" class="nav-border">History</a>
                        </li>
                        <li>
                            <a href="#" class="nav-border">Options</a>
                        </li>
                        <li>
                            <a href="#" class="nav-border">Competencies</a>
                        </li>
                        <li>
                            <a href="#" class="nav-border">Trainings</a>
                        </li>
                        <li>
                            <a href="#" class="nav-border">Status of Employees</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
             <!-- submain -->
        <div class="submain-container">
            {% block child %}
            {% endblock child %}
        </div>
    </div>


</div>

{% endblock content %}