{% extends "html/base.html" %} <!-- is used to receive all imports (bootstrap,js,jquery,...) and should be used in all html files -->
{% load static %} <!-- used to load the static folder -->


{% block content %} <!-- everything below this tag will become block content and will be inserted in the base html -->

<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>LOGIN PAGE</h1>
<div class="login-container">

</div>
</body>
</html>
{% endblock %}