
{% extends "html/index.html" %}
{% load static %}


{% block child %}
<div id="title">
    <h3>Upload Excel files</h3>
</div>

<form id="uploaderForm" method="post" action="{%url 'upload' %}">
    {% csrf_token %}
    <div id="fileUploadContainer">
        <input id="input-id" type="file" class="file" data-preview-file-type="text" >
    </div>
    <div id="button-container">
        <input id="submit-btn2" type="submit" value="Upload" class="rounded shadow-lg">
    </div>
</form>

{% endblock child %}
