.editIconModal, .deleteIconModal{
    cursor: pointer;
}
.editIconModal:hover{
    color: #00dd00 !important;
}
.deleteIconModal:hover{
    color: #ff0000 !important;
}
.myAlert-bottom{
    position: fixed !important;
    bottom: 5px;
    left:2%;
    width: 96%;
}
.myAlert-bottom2{
    position: fixed !important;
    bottom: 5px;
    left:2%;
    width: 96%;
}