@media (max-width: 768px) {

    .sidebar {
        width: auto !important;
    }

    .sidebar .sidebar-brand-text{
        display: none !important;
    }

    .sidebar .nav-item .nav-link span{
        display: block !important;
        font-size: .65rem !important;
    }

    .sidebar .nav-item .nav-link{
        text-align: center !important;
    }
}

.sidebar {
    width: 14rem;
}

.sidebar .sidebar-brand-text{
    display: block;
}

.sidebar .sidebar-brand {
    padding: 1.5rem 1rem;
    letter-spacing: .05rem;
    font-weight: 600;
    color: #fff;
}

.sidebar .nav-item .nav-link:hover{
    color: #fff;
}

.sidebar .nav-item .nav-link{
    color: rgba(255, 255, 255, .8);
    padding: 1rem;
    font-size: .85rem;
}


.sidebar .nav-item .nav-link span{
    display: inline;
}

.sidebar .nav-item.active .nav-link{
    color: #fff;
    font-weight: 700;
}

hr.sidebar-divider{
    border-top: 1px solid rgba(255, 255, 255, .15);
    margin: 0 1rem 0;
}

.sidebar .sidebar-heading{
    padding: 0 1rem;
    font-weight: 800;
    font-size: .65rem;
    text-transform: uppercase !important;
    color: rgba(255, 255, 255, .4);
}

.sidebarCollapsed{
    width: auto !important;
}

.sidebarCollapsed .sidebar-brand-text{
    display: none !important;
}

.sidebarCollapsed .nav-item .nav-link span{
    display: block !important;
    font-size: .65rem !important;
}

.sidebarCollapsed .nav-item .nav-link{
    text-align: center !important;
}

